# Bibliotecas

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Importando Dataset

In [3]:
df = pd.read_csv("dataset_a1/dataset_feedback_realista.csv")

# Visualizando

In [4]:
df.columns.tolist()

['id', 'idade', 'renda', 'cidade', 'categoria', 'nota', 'feedback']

In [8]:
print("*** Vizão Geral ***\n")
df.info()

*** Vizão Geral ***

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         100 non-null    int64
 1   idade      92 non-null     float64
 2   renda      96 non-null     float64
 3   cidade     96 non-null     object
 4   categoria  100 non-null    object
 5   nota       95 non-null     float64
 6   feedback   100 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 5.6+ KB

In [7]:
print("*** Primeiras linhas ***\n")
df.head(10)

*** Primeiras linhas ***

    id  idade     renda          cidade categoria  nota feedback
0  101   59.0   5703.13         Aracaju         A   5.8  Regular
1  102   60.0   4428.98         Goiania         B   1.5     Ruim
2  103   33.0   7537.78  Rio de Janeiro         A   7.1      Bom
3  104   38.0  13865.77    Campo Grande         B   1.1     Ruim
4  105   36.0  14794.37          Manaus         B   1.2     Ruim
5  106   16.0   8727.25        Curitiba         A   2.4     Ruim
6  107    NaN  13672.13        Curitiba         B   7.7  Regular
7  108   33.0   6322.93          Recife         B   3.9     Ruim
8  109   31.0   6917.85          Recife         B   4.0     Ruim
9  110   46.0  14776.13       Fortaleza         B   0.2     Ruim

In [10]:
print("\n*** Descrição estatística ***\n")
print(df.describe())

*** Descrição estatística ***

               id      idade         renda       nota
count  100.000000  92.000000     96.000000  95.000000
mean   150.500000  42.076087   8124.414479   4.835789
std     29.011492  14.947699   3978.123983   3.033989
min    101.000000  16.000000   1569.880000   0.000000
25%    125.750000  31.750000   5000.240000   1.800000
50%    150.500000  40.000000   7838.960000   4.800000
75%    175.250000  54.000000  11275.147500   7.250000
max    200.000000  70.000000  15009.410000   9.900000

In [11]:
print(df.describe(include='all'))

                id      idade         renda    cidade categoria       nota  \
count   100.000000  92.000000     96.000000        96       100  95.000000
unique         NaN        NaN           NaN        20         2        NaN
top            NaN        NaN           NaN  Curitiba         B        NaN
freq           NaN        NaN           NaN        10        57        NaN
mean    150.500000  42.076087   8124.414479       NaN       NaN   4.835789
std      29.011492  14.947699   3978.123983       NaN       NaN   3.033989
min     101.000000  16.000000   1569.880000       NaN       NaN   0.000000
25%     125.750000  31.750000   5000.240000       NaN       NaN   1.800000
50%     150.500000  40.000000   7838.960000       NaN       NaN   4.800000
75%     175.250000  54.000000  11275.147500       NaN       NaN   7.250000
max     200.000000  70.000000  15009.410000       NaN       NaN   9.900000

       feedback
count       100
unique        3
top        Ruim
freq         45
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [12]:
print("\n*** Contagem de valores ausentes ***\n")
print(df.isnull().sum())

*** Contagem de valores ausentes ***

id           0
idade        8
renda        4
cidade       4
categoria    0
nota         5
feedback     0
dtype: int64